:root {
  --primario: #ffffff;
  --secundario: #000000;
  --grisSuperOscuro: #111C1C;
  --grisClaro: #bdbaba;
  --gris: #707070;
  --azulClaro: #0FC9F4;
  --grisOscuro: #4D4D4F;
  --purpura: #4E6FF9;
  --rosa:#ED0FF4;

  --separacion: 5rem;

  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;
}

html {
  width: 140%;
  height: auto;  

}



body {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;   
}

.nav img{

  background-position: center center;
  height: 60px;
}


.section1 {
  width: 100%;
  flex-direction: column-reverse;
  margin-bottom: 60px;  
  justify-content: center;
  align-items: center;
}
.imagen1 {
  width: 100%;
}

.imagen1 img { 
  width: 837px;
  height: 949px;
 }

.section1 h2 {
text-align: center;
width: 80%;
font-size: 40px;
letter-spacing: none;
}

.texto h2 {

  width: 100%;
  margin: 20px;
  
}

.subtitle{
  width: 80%;
  margin-bottom: 40px;
  text-align: center;
}

.btn-4 {
  width: 100%;
}